<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p>{{msg}}</p>
        <hr/>
        <!-- 自定义过滤器 -->
        <p>{{msg|reverse}}</p>
        <p v-text="msg|reverse"></p>
        <hr>
        <p v-text="msg|wrap 'before' 'after'"></p>
        <hr>
        <input type="text" v-model="userInput">
        <span>
            {{msg|concat userInput}}
        </span>
        <hr>
        <p>{{msg}}</p>
        <input type="text" v-model="msg|filterExample">
    </div>
    <script src="../../vue.js"></script>
    <script src="common.js"></script>
</body>

</html>
