<!DOCTYPE html>
<html>

<head>
    <title>demo-lib-flexible</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="./css/style.css" />
    <!-- <script src="./js/flexible.js"></script> -->
</head>

<body>
    <div class="container">
        <div id="app">
            <span id="message">{{msg}}</span>
            <div class="form-group">
                <label>电子邮箱</label>
                <input type="text" v-model="registerModel.email" />
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="text" v-model="registerModel.password" />
            </div>
            <div class="form-group">
                <label>确认密码</label>
                <input type="text" v-model="registerModel.confirmPassword" />
            </div>
            <div class="form-group">
                <label></label>
                <button @click="register">注册</button>
            </div>
        </div>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/vue-resource.min.js"></script>
    <script src="./js/register.js"></script>
</body>

</html>
