<html>

<head>
    <title>Hello Vue</title>
    <link rel="stylesheet" href="../../lib/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>People of Gaul</h1>
        <ul class="list-group">
            <!-- 使用v-for指令来渲染过滤后的数组项目 -->
            <!-- render filtered array items using 'v-for' -->
            <!-- orderBy是内置的过滤器，按照age来进行过滤排序 -->
            <!-- 'orderBy' is a built in filter used for ordering by 'age'-->
            <li class="list-group-item" v-for="person in people | orderBy 'age'">
                {{person.name}} {{person.age}}
            </li>
        </ul>
        <h1>"Old" people of Gaul</h1>
        <ul class="list-group">
            <!-- 渲染过滤后的数组项目 -->
            <!-- render filtered array items -->
            <li class="list-group-item" v-for="person in people | old">
                {{person.name}} {{person.age}}
            </li>
        </ul>
        <pre>{{$data|json}}</pre>
    </div>
    <script src="../../lib/vue.js"></script>
    <script>
    // 自定义过滤器old返回那些符合条件的项目的数组
    // custom filter 'old' returns an array of items that satisfy the given condition
    Vue.filter('old', function(people) {
        return people.filter(function(item) {
            return item.age > 55;
        });
    });
    new Vue({
        el: '.container',
        data: {
            people: [{
                name: "Obelix",
                age: 31
            }, {
                name: "Asterix",
                age: 32
            }, {
                name: "Majestix",
                age: 62
            }, {
                name: "Julius Caesar",
                age: 56
            }, ]
        }
    });
    </script>
</body>

</html>
