<html>

<head>
    <title>Hello Vue</title>
    <link rel="stylesheet" href="../../lib/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Let's hear some stories!</h1>
        <div>
            <ul class="list-group">
                <li class="list-group-item" v-for=" value in story">
                    {{$index}} : {{$key}} : {{value}}
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item" v-for="(key,value) in story">
                    {{$index}} : {{key}} : {{value}}
                </li>
            </ul>
        </div>
        <pre>{{$data|json}}</pre>
    </div>
    <script src="../../lib/vue.js"></script>
    <script>
    new Vue({
        el: '.container',
        data: {
            story: {
                plot: 'Someone ate my chocolate...',
                writer: 'John',
                upvotes: 47
            }
        }
    });
    </script>
</body>

</html>
