<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p>{{msg}}</p>
        <hr/>
        <input type="text" v-model="msg">
        <input type="text" v-model="didi">
        <input type="text" v-model="family">
        <input type="text" v-model="didiFamily">
        <p>{{example}}</p>
        <p>
            didi={{didi}},family={{family}},didiFamily={{didiFamily}}
        </p>
        <p>{{example}}</p>
        <p>{{example}}</p>
    </div>
    <script src="../../vue.js"></script>
    <script src="common.js"></script>
</body>

</html>
