html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
h1{font-size:0.32rem}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.08rem}
sub{bottom:-0.04rem}
img{border:0}
svg:not(:root){overflow:hidden}
hr{box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:0.16rem}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid #c0c0c0;}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{padding:0;margin:0;-webkit-tap-highlight-color:rgba(0,0,0,0);box-sizing:border-box}
ol,ul{list-style:none}
a{text-decoration:none}
a,button,input{outline:0;}
audio,canvas,img,video{vertical-align:middle}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Microsoft YaHei', sans-serif;
  position: relative;
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  font-size: 16px;
}
.demo {
  text-align: center;
}
.demo .btn {
  width: 7.46666667rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, simhei, Arial, sans-serif;
}
html {
  font-size: 1rem;
}
body {
  margin-top: 100px;
}
table,
td,
th {
  border-collapse: collapse;
  border-spacing: 0;
}
table {
  width: 100%;
}
td,
th {
  border: 1px solid #bcbcbc;
  padding: 5px 10px;
}
th {
  padding: 10px;
  font-weight: 400;
  color: #fff;
  background: #0090d3;
  cursor: pointer;
}
tr:nth-of-type(odd) {
  background: #ffffff;
}
tr:nth-of-type(even) {
  background: #eeeeee;
}
h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
input {
  outline: none;
}
input[type=text] {
  padding: 3px 6px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
input[type=text]:focus {
  border-color: #0090d3;
  -webkit-transition: 0.3s ease-in;
          transition: 0.3s ease-in;
}
button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 30px;
  background: #0090d3;
  color: #fff;
  border: 1px solid #0090d3;
  border-radius: 3px;
  outline: 0;
  -webkit-transition: 0.4s ease-out;
          transition: 0.4s ease-out;
}
button:hover,
button:focus {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: 0.15s ease-in;
          transition: 0.15s ease-in;
}
#app {
  margin: 0 auto;
  max-width: 640px;
}
.btn-danger {
  padding: 5px 15px;
  border: 1px solid salmon;
  background: salmon;
}
.btn-save {
  border: 1px solid #0090d3;
  background: #0090d3;
}
.btn-close {
  border: 1px solid #ccc;
  background: #ccc;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
}
.search-input {
  width: 80%;
}
.form-group {
  margin: 10px;
}
.form-group > label {
  display: inline-block;
  padding-right: 1rem;
  width: 5rem;
  text-align: right;
}
.form-group > input,
.form-group > select {
  display: inline-block;
  height: 1.8rem;
  line-height: 1.8rem;
}
.text-center {
  text-align: center;
}
.dialog {
  width: 480px;
  position: fixed;
  left: 50%;
  top: 2em;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1300px;
          perspective: 1300px;
}
.dialog-active {
  visibility: visible;
}
.dialog-active .dialog-content {
  opacity: 1;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.dialog-active ~ .dialog-overlay {
  opacity: 1;
  visibility: visible;
}
.dialog-content {
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(-70deg);
          transform: rotateY(-70deg);
}
.dialog-header {
  background: #0090d3;
  color: #fff;
}
.dialog-title {
  margin: 0;
  font-size: 2em;
  text-align: center;
  font-weight: 200;
  line-height: 2em;
}
.dialog-body {
  padding: 2em;
}
.dialog-footer {
  margin: 0 2em;
  padding: 1em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.dialog-overlay {
  content: "";
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .6s;
          transition: all .6s;
}
