<!DOCTYPE html>
<html>

<head>
    <title>demo-lib-flexible</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="./css/style.css" />
    <!-- <script src="./js/flexible.js"></script> -->
</head>

<body>
    <div class="container">
        <div id="app">
        </div>
        <template id="grid-template">
            <table>
                <thead>
                    <tr>
                        <th v-for="col in columns">
                            {{col | capitalize}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(index,entry) in dataList">
                        <td v-for="col in columns">
                            {{entry[col]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>
        <template id="dialog-template">
            <div class="dialogs">
                <div class="dialog" :class="{'dialog-active':show}">
                    <div class="dialog-content">
                        <div class="close rotate">
                            <span class="iconfont icon-close" @click="close"></span>
                        </div>
                        <slot name="header"></slot>
                        <slot name="body"></slot>
                        <slot name="footer"></slot>
                    </div>
                </div>
                <div class="dialog-overlay"></div>
            </div>
        </template>
    </div>
    <script src="http://7xnv74.com1.z0.glb.clouddn.com/static/lib/jquery/jquery-2.1.4.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/common.js"></script>
</body>

</html>
