<!DOCTYPE html>
<html>

<head>
    <title>demo-lib-flexible</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" href="./css/style.css" />
    <!-- <script src="./js/flexible.js"></script> -->
</head>

<body>
    <div class="container">
        <div id="app">
            <p v-text="message"></p>
            <div class="form-group">
                <label>Search</label>
                <input type="text" class="search-input" v-model="searchQuery">
            </div>
            <div>
                <p>people : {{people | json}}</p>
                <simple-grid :data-list="people" :columns="columns" :search-key="searchQuery"></simple-grid>
                <template id="grid-template">
                    <button class="btn" @click="openNewItemDialog('create new item')">Create</button>
                    <table>
                        <tr>
                            <th v-for="col in columns">
                                {{col.name | capitalize}}
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                        <tbody>
                            <tr v-for="(index,entry) in dataList | filterBy searchKey">
                                {{index}}
                                <td v-for="col in columns ">
                                    <span v-if="col.isKey"><a @click="openEditItemDialog(entry[col.name])">{{entry[col.name]}}</a></span>
                                    <span v-else>{{entry[col.name]}}</span>
                                </td>
                                <td class="text-center ">
                                    <button @click="deleteItem(index) ">delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <modal-dialog :mode="mode" :title="title" :fields="columns" :item="item" @create-item="createItem" @update-item="updateItem"></modal-dialog>
                </template>
                <template id="dialog-template">
                    <div class="dialogs">
                        <div class="dialog" :class="{'dialog-active':show}">
                            <div class="dialog-content">
                                <header class="dialog-header">
                                    <h1 class="dialog-title">{{title}}</h1>
                                </header>
                                <div class="form-group" v-for="field in fields">
                                    <label>{{field.name}}</label>
                                    <select v-if="field.dataSource" v-model="item[field.name]" :disabled="mode===2&&field.isKey">
                                        <option v-for="opt in field.dataSource" :value="opt">{{opt}}</option>
                                    </select>
                                    <input v-else type="text" v-model="item[field.name]" :disabled="mode===2&&field.isKey">
                                </div>
                                <footer class="dialog-footer">
                                    <div class="form-group">
                                        <label for=""></label>
                                        <button @click="save">Save</button>
                                        <button @click="close">Close</button>
                                    </div>
                                </footer>
                            </div>
                        </div>
                        <div class="dialog-overlay"></div>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <script src="./js/vue.js "></script>
    <script src="./js/common.js "></script>
</body>

</html>
