<html>

<head>
    <title>Hello Vue</title>
    <link rel="stylesheet" href="../../lib/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Type 2 numbers and choose operation.</h1>
        <form class="form-inline">
            <!-- 注意到这里传入了一个number的属性，希望我们传入input的值是一个数字 -->
            <!-- Notice here the special attribute 'number' is passed in order to parse inputs as numbers.-->
            <input number v-model="a" class="form-control">
            <select v-model="operator" class="form-control">
                <option selected>+</option>
                <option>-</option>
                <option>*</option>
                <option>/</option>
            </select>
            <!-- 注意到这里传入了一个number的属性，希望我们传入input的值是一个数字 -->
            <!-- Notice here the special attribute 'number' is passed in order to parse inputs as numbers.-->
            <input number v-model="b" class="form-control">
            <button class="btn btn-primary" type="submit" @click="calculate">Calculate</button>
        </form>
        <h2>Result: {{a}}  {{operator}}  {{b}} = {{c}}</h2>
        <pre>{{$data|json}}</pre>
    </div>
    <script src="../../lib/vue.js"></script>
    <script>
    new Vue({
        el: '.container',
        data: {
            a: 1,
            b: 2,
            c: null,
            operator: ''
        },
        methods: {
            calculate: function() {
                switch (this.operator) {
                    case "+":
                        this.c = this.a + this.b;
                        break;
                    case "-":
                        this.c = this.a - this.b;
                        break;
                    case "*":
                        this.c = this.a * this.b;
                        break;
                    case "/":
                        this.c = this.a / this.b;
                        break;
                }
            }
        }
    });
    </script>
</body>

</html>
